In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
def add_nasel(df):
  for ind,row in df.iterrows():
    pop=int(city[city['OBJECTID *']==row['id_city']]['population'])
    df.loc[ind,'POPYLATION']=pop

In [ ]:
def replaceSign(df):
  for i,row in df.iterrows():
    df.loc[i,'latitude']=str(row['latitude']).replace(',','.')
    df.loc[i,'longitude']=str(row['longitude']).replace(',','.')
    df.loc[i,'Road_DIST']=str(row['Road_DIST']).replace(',','.')
    df.loc[i,'Railway_DIST']=str(row['Railway_DIST']).replace(',','.')
    df.loc[i,'City_DIST']=float(str(row['City_DIST']).replace(',','.'))
    df.loc[i,'NDVI']=str(row['NDVI']).replace(',','.')

In [ ]:
city=pd.read_csv('/content/drive/My Drive/ForestFire/PopylationCity.csv',sep=';')
city

     OBJECTID *  population
0             1         231
1             2         675
2             3         195
3             4         430
4             5       20157
..          ...         ...
729         730          88
730         731         911
731         732        1078
732         733           7
733         734         847

[734 rows x 2 columns]

In [ ]:
dfm=[]
for i in range(0,4):
  data=pd.read_csv('/content/drive/My Drive/ForestFire/MODIS_Point/Final/таблицы без населения(NDVI)/MN'+str(i+2017)+'NDVI.csv',sep=';')
  data['POPYLATION']=0
  add_nasel(data)
  replaceSign(data)
  data.to_csv('/content/drive/My Drive/ForestFire/MODIS_Point/Final/ForTraining(NDVI)/ModisComplite'+str(i+2017)+'.csv',index=False)
  dfm.append(data)

In [ ]:
dataset=pd.concat([dfm[0],dfm[1],dfm[2],dfm[3]],ignore_index=True)
dataset=dataset[dataset['LandClass']!='<Null>']
dataset=dataset[dataset['NDVI']!='<Null>']

In [ ]:
dataset

,longitude,latitude,fire,LandClass,Road_DIST,Railway_DIST,id_city,City_DIST,NDVI,POPYLATION
0,103.0033,51.2707,1,4,8675.822202,61693.95289,696,22178.10124,0.838593,752
1,111.897,53.8887,1,4,21652.92837,224193.4774,22,38364.78625,0.619637,127
2,114.0316,53.84,1,4,4040.936371,199433.6787,142,37835.03355,0.764099,242
3,102.8222,51.3524,1,4,22963.92206,66492.50026,696,18490.81931,0.811458,752
4,111.9286,53.8974,1,4,21582.68935,224232.9106,22,36459.4887,0.572542,127
...,...,...,...,...,...,...,...,...,...,...
10199,110.809822,54.782373,0,4,2977.99246,130178.7438,55,31681.45411,0.616154,23
10200,107.85136,51.23744,0,1,127.843382,39517.12335,293,14927.48334,0.413185,224
10201,101.804266,51.892348,0,1,846.169703,129666.0503,512,50287.92229,0.387736,2426
10202,108.796412,51.862287,0,4,9175.363401,19774.93512,133,24267.55941,0.832067,366
10203,103.270675,50.313838,0,2,384.621469,146846.0302,29,3033.285251,0.882096,330

In [ ]:
dataset.to_csv('/content/drive/My Drive/ForestFire/MODIS_Point/Final/itog/data_ndvi.csv',index=False)